---
http_interactions:
- request:
    method: post
    uri: https://api-jp.kii.com/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"dummy","client_secret":"dummy"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "dummy",
          "access_token" : "t-RS1_082VPfE1kTj5m7tJLiPBNHinRHM9_tn9FfyBE0",
          "expires_in" : 2147483639,
          "token_type" : "Bearer"
        }
  recorded_at: Wed, 02 Mar 2016 10:18:50 GMT
- request:
    method: post
    uri: https://api-jp.kii.com/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"dummy","client_secret":"dummy"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer t-RS1_082VPfE1kTj5m7tJLiPBNHinRHM9_tn9FfyBE0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "dummy",
          "access_token" : "DBqL20ziU0FmAe6SxXnERudG7KSFb6605pppoh787nc",
          "expires_in" : 2147483639,
          "token_type" : "Bearer"
        }
  recorded_at: Wed, 02 Mar 2016 10:18:50 GMT
- request:
    method: post
    uri: https://api-jp.kii.com/api/apps/dummy/buckets/applicationMaster/objects
    body:
      encoding: UTF-8
      string: '{"a":"b","c":"d"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer DBqL20ziU0FmAe6SxXnERudG7KSFb6605pppoh787nc
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.kii.ObjectCreationResponse+json;charset=UTF-8
      Etag:
      - '"1"'
      Location:
      - https://api-jp.kii.com/api/apps/dummy/buckets/rw:applicationMaster/objects/286443d0-e060-11e5-a367-22000a7f900d
      X-Http-Status-Code:
      - '201'
    body:
      encoding: UTF-8
      string: |-
        {
          "objectID" : "286443d0-e060-11e5-a367-22000a7f900d",
          "createdAt" : 1456913930381,
          "dataType" : "application/json"
        }
  recorded_at: Wed, 02 Mar 2016 10:18:50 GMT
- request:
    method: get
    uri: https://api-jp.kii.com/api/apps/dummy/buckets/applicationMaster/objects/286443d0-e060-11e5-a367-22000a7f900d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer DBqL20ziU0FmAe6SxXnERudG7KSFb6605pppoh787nc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"1"'
      Last-Modified:
      - Wed, 02 Mar 2016 10:18:50 GMT
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: '{"a":"b","c":"d","_owner":"dummy","_created":1456913930381,"_id":"286443d0-e060-11e5-a367-22000a7f900d","_modified":1456913930381,"_version":"1"}'
  recorded_at: Wed, 02 Mar 2016 10:18:50 GMT
- request:
    method: put
    uri: https://api-jp.kii.com/api/apps/dummy/buckets/applicationMaster/objects/286443d0-e060-11e5-a367-22000a7f900d
    body:
      encoding: UTF-8
      string: '{"arda":"rulezz"}'
    headers:
      If-Match:
      - '1'
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer DBqL20ziU0FmAe6SxXnERudG7KSFb6605pppoh787nc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.kii.ObjectUpdateResponse+json;charset=UTF-8
      Etag:
      - '"2"'
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1456913930381,
          "modifiedAt" : 1456913930537
        }
  recorded_at: Wed, 02 Mar 2016 10:18:50 GMT
[...]
- request:
    method: delete
    uri: https://api-jp.kii.com/api/apps/dummy/buckets/applicationMaster/objects/286443d0-e060-11e5-a367-22000a7f900d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      If-Match:
      - '2'
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer DBqL20ziU0FmAe6SxXnERudG7KSFb6605pppoh787nc
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Http-Status-Code:
      - '204'
      X-Kii-Clientid:
      - dummy
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Mar 2016 10:18:50 GMT
- request:
    method: get
    uri: https://api-jp.kii.com/api/apps/dummy/buckets/applicationMaster/objects/286443d0-e060-11e5-a367-22000a7f900d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer DBqL20ziU0FmAe6SxXnERudG7KSFb6605pppoh787nc
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/vnd.kii.ObjectNotFoundException+json;charset=UTF-8
      X-Http-Status-Code:
      - '404'
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "OBJECT_NOT_FOUND",
          "message" : "The object with ID 286443d0-e060-11e5-a367-22000a7f900d was not found in bucket applicationMaster of the requested scope",
          "objectScope" : {
            "appID" : "dummy",
            "type" : "APP"
          },
          "bucketID" : "applicationMaster",
          "objectID" : "286443d0-e060-11e5-a367-22000a7f900d"
        }
  recorded_at: Wed, 02 Mar 2016 10:18:50 GMT
- request:
    method: post
    uri: https://api-jp.kii.com/api/apps/dummy/buckets/some_bucket/objects
    body:
      encoding: UTF-8
      string: '{"a":"b","c":"d"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer DBqL20ziU0FmAe6SxXnERudG7KSFb6605pppoh787nc
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.kii.ObjectCreationResponse+json;charset=UTF-8
      Etag:
      - '"1"'
      Location:
      - https://api-jp.kii.com/api/apps/dummy/buckets/rw:some_bucket/objects/28acbe80-e060-11e5-8405-22000b02f3b7
      X-Http-Status-Code:
      - '201'
    body:
      encoding: UTF-8
      string: |-
        {
          "objectID" : "28acbe80-e060-11e5-8405-22000b02f3b7",
          "createdAt" : 1456913930856,
          "dataType" : "application/json"
        }
  recorded_at: Wed, 02 Mar 2016 10:18:50 GMT
- request:
    method: get
    uri: https://api-jp.kii.com/api/apps/dummy/buckets/some_bucket/objects/28acbe80-e060-11e5-8405-22000b02f3b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer DBqL20ziU0FmAe6SxXnERudG7KSFb6605pppoh787nc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"1"'
      Last-Modified:
      - Wed, 02 Mar 2016 10:18:50 GMT
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: '{"a":"b","c":"d","_owner":"dummy","_created":1456913930856,"_id":"28acbe80-e060-11e5-8405-22000b02f3b7","_modified":1456913930856,"_version":"1"}'
  recorded_at: Wed, 02 Mar 2016 10:18:50 GMT
[...]
- request:
    method: post
    uri: https://api-jp.kii.com/api/apps/dummy/buckets/some_bucket/objects
    body:
      encoding: UTF-8
      string: '{"a":"b","c":"d"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer DBqL20ziU0FmAe6SxXnERudG7KSFb6605pppoh787nc
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 02 Mar 2016 10:34:06 GMT
recorded_with: VCR 3.0.1
