---
http_interactions:
- request:
    method: post
    uri: https://api-jp.kii.com/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"dummy","client_secret":"dummy"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "dummy",
          "access_token" : "EmNGHHP4cTfNb1_03BDGKgGz1ehMDJ4LJOoLHeBTyGU",
          "expires_in" : 2147483639,
          "token_type" : "Bearer"
        }
  recorded_at: Wed, 02 Mar 2016 10:20:26 GMT
- request:
    method: post
    uri: https://api-jp.kii.com/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"dummy","client_secret":"dummy"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer EmNGHHP4cTfNb1_03BDGKgGz1ehMDJ4LJOoLHeBTyGU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "dummy",
          "access_token" : "kxI6OTxFlDMNBFBK9051n32-0XojgOKwa2bnty5Q4m0",
          "expires_in" : 2147483639,
          "token_type" : "Bearer"
        }
  recorded_at: Wed, 02 Mar 2016 10:20:26 GMT
- request:
    method: post
    uri: https://api-jp.kii.com/api/apps/dummy/users
    body:
      encoding: UTF-8
      string: '{"loginName":"your_username__3","displayName":"Your Name","country":"JP","password":"123456","emailAddress":"your__3@mail.com","phoneNumber":"09012341223"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer kxI6OTxFlDMNBFBK9051n32-0XojgOKwa2bnty5Q4m0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.kii.RegistrationResponse+json;charset=UTF-8
      Location:
      - https://api-jp.kii.com/api/apps/dummy/users/c4619da00022-4579-5e11-060e-0f0a1c16
      X-Http-Status-Code:
      - '201'
    body:
      encoding: UTF-8
      string: |-
        {
          "userID" : "c4619da00022-4579-5e11-060e-0f0a1c16",
          "internalUserID" : 590251219503551488,
          "loginName" : "your_username__3",
          "displayName" : "Your Name",
          "country" : "JP",
          "emailAddress" : "your__3@mail.com",
          "emailAddressVerified" : false,
          "phoneNumber" : "+819012341223",
          "phoneNumberVerified" : false,
          "_hasPassword" : true,
          "_disabled" : false
        }
  recorded_at: Wed, 02 Mar 2016 10:20:26 GMT
[...]
- request:
    method: post
    uri: https://api-jp.kii.com/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"username":"your_username__3","password":"123456"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "c4619da00022-4579-5e11-060e-0f0a1c16",
          "access_token" : "OjICANDhfBahk48L-Pschl1gYRIVe3N2fHla04btD6U",
          "expires_in" : 2147483639,
          "token_type" : "Bearer"
        }
  recorded_at: Wed, 02 Mar 2016 10:20:26 GMT
- request:
    method: post
    uri: https://api-jp.kii.com/api/apps/dummy/groups
    body:
      encoding: UTF-8
      string: '{"name":"test_group","owner":"c4619da00022-4579-5e11-060e-0f0a1c16","members":["9980daa00022-1989-5e11-060e-02d23d16"]}'
    headers:
      Content-Type:
      - application/vnd.kii.GroupCreationRequest+json
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Authorization:
      - Bearer OjICANDhfBahk48L-Pschl1gYRIVe3N2fHla04btD6U
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.kii.GroupCreationResponse+json;charset=UTF-8
      Location:
      - https://api-jp.kii.com/api/apps/dummy/groups/mvzgbjmzx92m3iyt6r8htujxa
      X-Http-Status-Code:
      - '201'
    body:
      encoding: UTF-8
      string: |-
        {
          "groupID" : "mvzgbjmzx92m3iyt6r8htujxa",
          "notFoundUsers" : [ ]
        }
  recorded_at: Wed, 02 Mar 2016 10:20:27 GMT
- request:
    method: post
    uri: https://api-jp.kii.com/api/apps/dummy/groups/mvzgbjmzx92m3iyt6r8htujxa/buckets/groupdata/objects
    body:
      encoding: UTF-8
      string: '{"a":"b","c":"d"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer OjICANDhfBahk48L-Pschl1gYRIVe3N2fHla04btD6U
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.kii.ObjectCreationResponse+json;charset=UTF-8
      Etag:
      - '"1"'
      Location:
      - https://api-jp.kii.com/api/apps/dummy/groups/mvzgbjmzx92m3iyt6r8htujxa/buckets/rw:groupdata/objects/62112080-e060-11e5-8405-22000b02f3b7
      X-Http-Status-Code:
      - '201'
    body:
      encoding: UTF-8
      string: |-
        {
          "objectID" : "62112080-e060-11e5-8405-22000b02f3b7",
          "createdAt" : 1456914027144,
          "dataType" : "application/json"
        }
  recorded_at: Wed, 02 Mar 2016 10:20:27 GMT
- request:
    method: get
    uri: https://api-jp.kii.com/api/apps/dummy/groups/mvzgbjmzx92m3iyt6r8htujxa/buckets/groupdata/objects/62112080-e060-11e5-8405-22000b02f3b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer OjICANDhfBahk48L-Pschl1gYRIVe3N2fHla04btD6U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"1"'
      Last-Modified:
      - Wed, 02 Mar 2016 10:20:27 GMT
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: '{"a":"b","c":"d","_owner":"c4619da00022-4579-5e11-060e-0f0a1c16","_created":1456914027144,"_id":"62112080-e060-11e5-8405-22000b02f3b7","_modified":1456914027144,"_version":"1"}'
  recorded_at: Wed, 02 Mar 2016 10:20:27 GMT
- request:
    method: put
    uri: https://api-jp.kii.com/api/apps/dummy/groups/mvzgbjmzx92m3iyt6r8htujxa/buckets/groupdata/objects/62112080-e060-11e5-8405-22000b02f3b7
    body:
      encoding: UTF-8
      string: '{"arda":"rulezz"}'
    headers:
      If-Match:
      - '1'
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer OjICANDhfBahk48L-Pschl1gYRIVe3N2fHla04btD6U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.kii.ObjectUpdateResponse+json;charset=UTF-8
      Etag:
      - '"2"'
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1456914027144,
          "modifiedAt" : 1456914027415
        }
  recorded_at: Wed, 02 Mar 2016 10:20:27 GMT
[...]
- request:
    method: delete
    uri: https://api-jp.kii.com/api/apps/dummy/groups/mvzgbjmzx92m3iyt6r8htujxa/buckets/groupdata/objects/62112080-e060-11e5-8405-22000b02f3b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      If-Match:
      - '2'
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer OjICANDhfBahk48L-Pschl1gYRIVe3N2fHla04btD6U
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Http-Status-Code:
      - '204'
      X-Kii-Clientid:
      - dummy
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Mar 2016 10:20:27 GMT
- request:
    method: get
    uri: https://api-jp.kii.com/api/apps/dummy/groups/mvzgbjmzx92m3iyt6r8htujxa/buckets/groupdata/objects/62112080-e060-11e5-8405-22000b02f3b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer OjICANDhfBahk48L-Pschl1gYRIVe3N2fHla04btD6U
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/vnd.kii.ObjectNotFoundException+json;charset=UTF-8
      X-Http-Status-Code:
      - '404'
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "OBJECT_NOT_FOUND",
          "message" : "The object with ID 62112080-e060-11e5-8405-22000b02f3b7 was not found in bucket groupdata of the requested scope",
          "objectScope" : {
            "appID" : "dummy",
            "groupID" : "mvzgbjmzx92m3iyt6r8htujxa",
            "type" : "APP_AND_GROUP"
          },
          "bucketID" : "groupdata",
          "objectID" : "62112080-e060-11e5-8405-22000b02f3b7"
        }
  recorded_at: Wed, 02 Mar 2016 10:20:27 GMT
- request:
    method: post
    uri: https://api-jp.kii.com/api/apps/dummy/groups/mvzgbjmzx92m3iyt6r8htujxa/buckets/group_bucket/objects
    body:
      encoding: UTF-8
      string: '{"a":"b","c":"d"}'
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer OjICANDhfBahk48L-Pschl1gYRIVe3N2fHla04btD6U
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.kii.ObjectCreationResponse+json;charset=UTF-8
      Etag:
      - '"1"'
      Location:
      - https://api-jp.kii.com/api/apps/dummy/groups/mvzgbjmzx92m3iyt6r8htujxa/buckets/rw:group_bucket/objects/627623e0-e060-11e5-8405-22000b02f3b7
      X-Http-Status-Code:
      - '201'
    body:
      encoding: UTF-8
      string: |-
        {
          "objectID" : "627623e0-e060-11e5-8405-22000b02f3b7",
          "createdAt" : 1456914027806,
          "dataType" : "application/json"
        }
  recorded_at: Wed, 02 Mar 2016 10:20:27 GMT
- request:
    method: get
    uri: https://api-jp.kii.com/api/apps/dummy/groups/mvzgbjmzx92m3iyt6r8htujxa/buckets/group_bucket/objects/627623e0-e060-11e5-8405-22000b02f3b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer OjICANDhfBahk48L-Pschl1gYRIVe3N2fHla04btD6U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"1"'
      Last-Modified:
      - Wed, 02 Mar 2016 10:20:27 GMT
      X-Http-Status-Code:
      - '200'
    body:
      encoding: UTF-8
      string: '{"a":"b","c":"d","_owner":"c4619da00022-4579-5e11-060e-0f0a1c16","_created":1456914027806,"_id":"627623e0-e060-11e5-8405-22000b02f3b7","_modified":1456914027806,"_version":"1"}'
  recorded_at: Wed, 02 Mar 2016 10:20:27 GMT
[...]
- request:
    method: delete
    uri: https://api-jp.kii.com/api/apps/dummy/users/c4619da00022-4579-5e11-060e-0f0a1c16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer kxI6OTxFlDMNBFBK9051n32-0XojgOKwa2bnty5Q4m0
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Http-Status-Code:
      - '204'
      X-Kii-Clientid:
      - dummy
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Mar 2016 10:20:28 GMT
[...]
- request:
    method: get
    uri: https://api-jp.kii.com/api/apps/dummy/users/c4619da00022-4579-5e11-060e-0f0a1c16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Kii-Appid:
      - dummy
      X-Kii-Appkey:
      - dummy
      Content-Type:
      - application/json
      Authorization:
      - Bearer kxI6OTxFlDMNBFBK9051n32-0XojgOKwa2bnty5Q4m0
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/vnd.kii.UserNotFoundException+json;charset=UTF-8
      X-Http-Status-Code:
      - '404'
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "USER_NOT_FOUND",
          "message" : "User c4619da00022-4579-5e11-060e-0f0a1c16 was not found",
          "value" : "c4619da00022-4579-5e11-060e-0f0a1c16"
        }
  recorded_at: Wed, 02 Mar 2016 10:20:28 GMT
